<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="../src/styles.css">

</head>

<body>
    <%- include('./templates/nav'); %>

    <div class="container justify-content-center">

        <h1><b><%= member.username %>#<%= member.discriminator %>'s Profile</b></h1>
        <hr>

       

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../scripts/dashboard.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>